@import url('../dist/LeafletStyleSheet.css');

html, body, #map {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

div#size, a#delete {
	position: absolute;
	right: 1em;
	top: 1em;
	background: white;
	color: black;
	padding: 0.4em;
	border-radius: 4px;
	z-index: 500;
}
